@charset "UTF-8";

@media screen and (min-width: 1200px) {
    
    body {
        background-image: url(bg-desktop.svg);
    }
    
    header {
        padding: 40px 0px 0px 40px;
    }

    header img {
        width: 200px;
    }
    
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        text-align: justify;
    }

    main img {
        width: 700px;
    }

    main h1 {
        font-size: 40px;
    }

    button {
        font-size: 20px;
        padding: 15px 60px;
    }

    footer {
        margin-top: 20px;
        margin-right: 50px;
        
        display: flex;
        justify-content: right;  
    }
}