@charset "UTF-8";

@font-face {
    font-family: Poppins;
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bg-mobile.svg);
    background-size: cover;
    background-position: top center;
    background-color: hsl(257, 40%, 49%);
    background-attachment: fixed;
}

header {
    padding: 20px;
}

main {
    padding-top: 20px;
    color: white;
    font-family: Poppins;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    margin-top: 50px;
    font-size: 28px;
}

main p {
    font-size: 18px;
    margin: 30px 0px;
}

button {
    font-size: 15px;
    color: hsl(257, 40%, 49%);
    background-color: white;
    border: none;
    padding: 15px 80px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.195);
}

button:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

footer {
    text-align: center;
    margin-bottom: 50px;
}

footer img:hover {
    color:hsl(300, 69%, 71%);
    cursor: pointer;
}

#tw {
    padding: 0px 15px;
}